{% extends 'layouts/app.html' %}


{% block content %}

    <div class='row justify-content-center bg-dark'>

        <div class='col-sm-6 mt-5'>

            <h2 class='text-light'> Register</h2>
            <form method="POST" action="{% url 'register' %}">

                {% csrf_token %}
                <!-- {{ form.as_p }} -->

                <div class="form-group text-light">

                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    <input type="text" name="{{ form.username.name }}" class="form-control text-dark">
                    <span class="text-danger">{{ form.username.errors }}</span>
                </div>


                <div class="form-group text-light">

                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    <input type="email" name="{{ form.email.name }}" class="form-control text-dark" required=True>
                    <span class="text-danger">{{ form.email.errors }}</span>
                </div>


                <div class="form-group text-light">

                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    <input type="password" name="{{ form.password1.name }}" class="form-control text-dark">
                    <span class="text-danger">{{ form.password1.errors }}</span>
                </div>


                <div class="form-group text-light">

                    <label for="{{ form.password2.id_for_label }}">Password-Confirmation:</label>
                    <input type="password" name="{{ form.password2.name }}" class="form-control text-dark">
                    <span class="text-danger">{{ form.password2.errors }}</span>
                </div>


                <button type="submit" class='btn btn-dark'>SUBMIT

                </button>
                <a href="{% url 'login'%}" class='btn btn-default text-light'>login</a>


                











            </form>
            

        </div>


    </div>   




{% endblock %}